venv_transcriber/
__pycache__/
instance/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
output/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,coverage
.hypothesis/
.pytest_cache/
.pyre/
.pytype/
.mypy_cache/
.dmypy.json
dmypy.json
.copilot-tracking/